
<%= link_to 'Sign up',  new_user_registration_path %>
<%= link_to 'Sign in',  new_user_session_path %>
<%= link_to 'Admin',  admin_root_path %>
<%= button_to 'Log out', destroy_user_session_path, :method => :delete %>

<h1>cokolwiek</h1>